.Posts {
    width: 60%;
    margin-left: 20%;
}
.Post {
    font-size: 1.2em;
    height: auto;
    padding: 30px;
    background-color: white;
    border: solid black 1px;
    margin-bottom: 30px;
}

.Post p {
    font-family: 'Open Sans', sans-serif;
}

.Posts img {
    width: 100px;
}

@media (max-width: 820px) {
    .Posts {
        width: 95%;
        margin-left: 2.5%;
    }
}
