.InfoPage {
    font-size: 1.1em;
    background-color: white;
    box-shadow: 3px 3px 5px lightslategray;
    width: 79%;
    min-height: 1000px;
}

.InfoPage h1 {
    text-align: center;
}

.InfoPage p {
    text-align: center;
}

@media (max-width: 820px) {
    .InfoPage {
        width: 95%;
        margin-left: 2.5%;
    }
}