.InfoPage {
    font-size: 1.1em;
    background-color: white;
}

.InfoPage p {
    text-align: justify;
    line-height: 150%;
}

.InfoPage h4 {
    text-align: center;
}

.tableImg {
    height: 300px;
}

.tursImages {
    display: flex;
    justify-content: center;
}

.tursImg {
    margin: 0 30px 0 30px;
    height: 400px;
}

@media (max-width: 820px) {
    .InfoPage {
        width: 95%;
        margin-left: 2.5%;
    }
}