.InfoPanel {
    margin: 0px 10px 15px 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 3px 2px 10px black;
    text-align: center;
    height: auto;
}

.InfoPanel h3 {
    padding-bottom: 5px;
    border-bottom: solid lightgrey 1px;
}
