.Layout {
    background-color: white;
}

@media (max-width: 820px) {
    .Layout {
        margin-top: 160px;
        padding-top: 0;
    }
}

.Content {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
    background-color: white;
}

@media (max-width: 820px) {
    .Content {
        flex-wrap: wrap;
    }
}