.Layout {
    padding-top: 180px;
    background-color: white;
    background-image: url(../assets/hto_logo_green.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%; 
}

@media (max-width: 820px) {
    .Layout {
        margin-top: 160px;
        padding-top: 0;
    }
}